<u><h1>Edit the Department Location data here</h1></u><br>
<%= form_with(model: @dept_location, scope: :dept_location, local: true) do |f| %>
<body bgcolor="pink">
 
<p>
<%= f.label :Dnumber %><br>
<%= f.text_field :Dnumber %>
</p>
 
<p>
<%= f.label :Dlocation %><br>
<%= f.text_field :Dlocation %>
</p>
 
<p>
<%= f.submit %>
</p></body>
 
<% end %>
<%= link_to 'Back', dept_locations_path %>
 