<u><h1>Edit the Project data here</h1></u><br>
<%= form_with(model: @project, scope: :project, local: true) do |f| %>
<body bgcolor="pink">
 
<p>
<%= f.label :Pname %><br>
<%= f.text_field :Pname %>
</p>
 
<p>
<%= f.label :Pnumber %><br>
<%= f.text_field :Pnumber %>
</p>
 
<p>
<%= f.label :Plocation %><br>
<%= f.text_field :Plocation %>
</p>
 
<p>
<%= f.label :Dnumber %><br>
<%= f.text_field :Dnumber %>
</p>
 
<p>
<%= f.submit %>
</p></body>
 
<% end %>
<%= link_to 'Back', projects_path %>
 
 
 
 