<br><u><h1>Entered Department Location Details</h1></u><br>
<body bgcolor="pink">
 
<p>
    <strong>Project Name:</strong>
    <%= @project.Pname %>
</p>
<p>
    <strong>Project Number:</strong>
    <%= @project.Pnumber %>
</p>
<p>
    <strong>Project Location:</strong>
    <%= @project.Plocation %>
</p>
<p>
    <strong>Department Number:</strong>
    <%= @project.Dnumber %>
</p>
 
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</body>
 